In [118]:
import pandas as pd
import numpy as np

# Add in coffee data

In [119]:
arabica_df = pd.read_csv('data/arabica_ratings_raw.csv')
robusta_df = pd.read_csv('data/robusta_ratings_raw.csv')

In [120]:
print(arabica_df.shape)
print(robusta_df.shape)

(1312, 53)
(28, 51)

In [121]:
arabica_df.columns

Index(['Unnamed: 0', 'quality_score', 'view_certificate_1',
       'view_certificate_2', 'Cupping Protocol and Descriptors',
       'View Green Analysis Details', 'Request a Sample', 'Species', 'Owner',
       'Country of Origin', 'Farm Name', 'Lot Number', 'Mill', 'ICO Number',
       'Company', 'Altitude', 'Region', 'Producer', 'Number of Bags',
       'Bag Weight', 'In-Country Partner', 'Harvest Year', 'Grading Date',
       'Owner.1', 'Variety', 'Status', 'Processing Method', 'NA', 'Aroma',
       'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance', 'NA.1',
       'Uniformity', 'Clean Cup', 'Sweetness', 'Cupper Points',
       'Total Cup Points', 'NA.2', 'Moisture', 'Category One Defects',
       'Quakers', 'Color', 'Category Two Defects', 'NA.3', 'Expiration',
       'Certification Body', 'Certification Address', 'Certification Contact',
       'Unnamed: 51', 'Notes'],
      dtype='object')

In [122]:
robusta_df.columns

Index(['Unnamed: 0', 'quality_score', 'view_certificate_1',
       'view_certificate_2', 'Cupping Protocol and Descriptors',
       'View Green Analysis Details', 'Request a Sample', 'Species', 'Owner',
       'Country of Origin', 'Farm Name', 'Lot Number', 'Mill', 'ICO Number',
       'Company', 'Altitude', 'Region', 'Producer', 'Number of Bags',
       'Bag Weight', 'In-Country Partner', 'Harvest Year', 'Grading Date',
       'Owner.1', 'Variety', 'Status', 'Processing Method', 'NA',
       'Fragrance / Aroma', 'Flavor', 'Aftertaste', 'Salt / Acid',
       'Bitter / Sweet', 'Mouthfeel', 'NA.1', 'Uniform Cup', 'Clean Cup',
       'Balance', 'Cupper Points', 'Total Cup Points', 'NA.2', 'Moisture',
       'Category One Defects', 'Quakers', 'Color', 'Category Two Defects',
       'NA.3', 'Expiration', 'Certification Body', 'Certification Address',
       'Certification Contact'],
      dtype='object')

In [123]:
arabica_df.head()

,Unnamed: 0,quality_score,view_certificate_1,view_certificate_2,Cupping Protocol and Descriptors,View Green Analysis Details,Request a Sample,Species,Owner,Country of Origin,...,Quakers,Color,Category Two Defects,NA.3,Expiration,Certification Body,Certification Address,Certification Contact,Unnamed: 51,Notes
0,0,90.58,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,...,0.0,Green,0 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN
1,1,89.92,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,...,0.0,Green,1 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN
2,2,89.75,NaN,NaN,NaN,NaN,NaN,Arabica,Grounds for Health Admin,Guatemala,...,0.0,NaN,0 full defects,NaN,"May 31st, 2011",Specialty Coffee Association,"117 W 4th St, Suite 300 Santa Ana, CA 92701",Chris Buck - (562) 624-4100,NaN,NaN
3,3,89.00,NaN,NaN,NaN,NaN,NaN,Arabica,Yidnekachew Dabessa,Ethiopia,...,0.0,Green,2 full defects,NaN,"March 25th, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN
4,4,88.83,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,...,0.0,Green,2 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN

In [176]:
arabica_df.index = arabica_df.index.map(str)

In [124]:
arabica_df['Harvest Year'].value_counts()

2012                        352
2014                        226
2013                        170
2015                        125
2016                        122
2017                         68
2013/2014                    29
2015/2016                    28
2011                         26
2017 / 2018                  19
2014/2015                    19
2009/2010                    12
2010                         10
2016 / 2017                   6
2010-2011                     6
4T/10                         4
4T/2010                       3
2009-2010                     3
March 2010                    3
Mayo a Julio                  3
08/09 crop                    2
TEST                          2
Abril - Julio                 2
January 2011                  2
2011/2012                     2
23 July 2010                  1
3T/2011                       1
2009 - 2010                   1
mmm                           1
4T72010                       1
47/2010                       1
1T/2011                       1
December 2009-March 2010      1
2018                          1
Fall 2009                     1
Abril - Julio /2011           1
Spring 2011 in Colombia.      1
August to December            1
4t/2010                       1
1t/2011                       1
January Through April         1
2009 / 2010                   1
2016/2017                     1
May-August                    1
4t/2011                       1
Sept 2009 - April 2010        1
Name: Harvest Year, dtype: int64

In [125]:
len(arabica_df['Country of Origin'].unique())

37

In [126]:
arabica_df['Country of Origin'].value_counts()

Mexico                          236
Colombia                        183
Guatemala                       181
Brazil                          132
Taiwan                           75
United States (Hawaii)           73
Honduras                         53
Costa Rica                       51
Ethiopia                         45
Tanzania, United Republic Of     40
Thailand                         32
Nicaragua                        26
Uganda                           26
Kenya                            25
El Salvador                      21
Indonesia                        20
China                            16
Malawi                           11
Peru                             10
United States                     8
Myanmar                           8
Vietnam                           7
Haiti                             6
Philippines                       5
Panama                            4
United States (Puerto Rico)       4
Laos                              3
Burundi                           2
Cote d?Ivoire                     1
Mauritius                         1
Zambia                            1
India                             1
Rwanda                            1
Ecuador                           1
Japan                             1
Papua New Guinea                  1
Name: Country of Origin, dtype: int64

In [127]:
sum(arabica_df['Grading Date'].value_counts())

1312

In [128]:
arabica_df['year'] = arabica_df['Grading Date'].astype(str).str[-5:].astype(np.int64)

In [129]:
arabica_df['year']

0       2015
1       2015
2       2010
3       2015
4       2015
5       2013
6       2012
7       2010
8       2010
9       2015
10      2015
11      2015
12      2015
13      2010
14      2010
15      2015
16      2010
17      2010
18      2016
19      2015
20      2015
21      2014
22      2012
23      2015
24      2013
25      2011
26      2010
27      2014
28      2017
29      2016
        ...
1282    2012
1283    2012
1284    2012
1285    2013
1286    2014
1287    2013
1288    2012
1289    2012
1290    2012
1291    2012
1292    2015
1293    2014
1294    2014
1295    2014
1296    2014
1297    2011
1298    2015
1299    2012
1300    2012
1301    2014
1302    2017
1303    2014
1304    2014
1305    2014
1306    2012
1307    2012
1308    2017
1309    2012
1310    2010
1311    2017
Name: year, Length: 1312, dtype: int64

In [130]:
arabica_df.head()

,Unnamed: 0,quality_score,view_certificate_1,view_certificate_2,Cupping Protocol and Descriptors,View Green Analysis Details,Request a Sample,Species,Owner,Country of Origin,...,Color,Category Two Defects,NA.3,Expiration,Certification Body,Certification Address,Certification Contact,Unnamed: 51,Notes,year
0,0,90.58,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,...,Green,0 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN,2015
1,1,89.92,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,...,Green,1 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN,2015
2,2,89.75,NaN,NaN,NaN,NaN,NaN,Arabica,Grounds for Health Admin,Guatemala,...,NaN,0 full defects,NaN,"May 31st, 2011",Specialty Coffee Association,"117 W 4th St, Suite 300 Santa Ana, CA 92701",Chris Buck - (562) 624-4100,NaN,NaN,2010
3,3,89.00,NaN,NaN,NaN,NaN,NaN,Arabica,Yidnekachew Dabessa,Ethiopia,...,Green,2 full defects,NaN,"March 25th, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN,2015
4,4,88.83,NaN,NaN,NaN,NaN,NaN,Arabica,metad plc,Ethiopia,...,Green,2 full defects,NaN,"April 3rd, 2016",METAD Agricultural Development plc,"BAWA Center, 3rd Floor (Gerji), Addis Ababa, E...","Aman Adinew (Emebet Dinku) - +251-116-292534, ...",NaN,NaN,2015

In [131]:
arabica_df['Color'].value_counts()

Green           850
Bluish-Green    112
Blue-Green       82
None             51
Name: Color, dtype: int64

In [132]:
sum(arabica_df['Total Cup Points'].astype(str).str[-5:].astype(np.float) == arabica_df['quality_score'])

1312

In [133]:
arabica_df['year'] = arabica_df['year'].astype(str)

In [134]:
arabica_df = arabica_df.drop(['Unnamed: 0', 'view_certificate_1', 'view_certificate_2', 'Cupping Protocol and Descriptors', 'View Green Analysis Details', 'Request a Sample', 'Grading Date', 'Harvest Year', 'Species', 'Farm Name', 'Lot Number', 'Mill', 'ICO Number', 'Company', 'Producer', 'Number of Bags', 'Bag Weight', 'Owner.1', 'Status', 'NA', 'NA.1', 'Total Cup Points', 'NA.2', 'NA.3', 'Expiration', 'Certification Body', 'Certification Address', 'Certification Contact', 'Unnamed: 51', 'Notes'], axis=1)

In [135]:
arabica_df.head()

,quality_score,Owner,Country of Origin,Altitude,Region,In-Country Partner,Variety,Processing Method,Aroma,Flavor,...,Uniformity,Clean Cup,Sweetness,Cupper Points,Moisture,Category One Defects,Quakers,Color,Category Two Defects,year
0,90.58,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/GOYO,METAD Agricultural Development plc,NaN,Washed / Wet,8.67,8.83,...,10.0,10.0,10.0,8.75,12 %,0 full defects,0.0,Green,0 full defects,2015
1,89.92,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/ALAKA,METAD Agricultural Development plc,Other,Washed / Wet,8.75,8.67,...,10.0,10.0,10.0,8.58,12 %,0 full defects,0.0,Green,1 full defects,2015
2,89.75,Grounds for Health Admin,Guatemala,1600 - 1800 m,NaN,Specialty Coffee Association,Bourbon,NaN,8.42,8.50,...,10.0,10.0,10.0,9.25,0 %,0 full defects,0.0,NaN,0 full defects,2010
3,89.00,Yidnekachew Dabessa,Ethiopia,1800-2200,Oromia,METAD Agricultural Development plc,NaN,Natural / Dry,8.17,8.58,...,10.0,10.0,10.0,8.67,11 %,0 full defects,0.0,Green,2 full defects,2015
4,88.83,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/BISHAN FUGU,METAD Agricultural Development plc,Other,Washed / Wet,8.25,8.50,...,10.0,10.0,10.0,8.58,12 %,0 full defects,0.0,Green,2 full defects,2015

In [136]:
for column in arabica_df.columns:
    print(column, sum(arabica_df.isnull()[column]))

quality_score 0
Owner 7
Country of Origin 1
Altitude 218
Region 56
In-Country Partner 0
Variety 202
Processing Method 153
Aroma 0
Flavor 0
Aftertaste 0
Acidity 0
Body 0
Balance 0
Uniformity 0
Clean Cup 0
Sweetness 0
Cupper Points 0
Moisture 0
Category One Defects 0
Quakers 1
Color 217
Category Two Defects 0
year 0

In [137]:
arabica_df.describe()

,quality_score,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean Cup,Sweetness,Cupper Points,Quakers
count,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1311.000000
mean,82.086212,7.562614,7.516913,7.396822,7.532614,7.516570,7.516349,9.825899,9.825625,9.895724,7.496723,0.176964
std,3.675542,0.380976,0.402017,0.406202,0.381879,0.361512,0.408316,0.621552,0.817449,0.596925,0.476228,0.840276
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,81.170000,7.420000,7.330000,7.250000,7.330000,7.330000,7.330000,10.000000,10.000000,10.000000,7.250000,0.000000
50%,82.500000,7.580000,7.580000,7.420000,7.500000,7.500000,7.500000,10.000000,10.000000,10.000000,7.500000,0.000000
75%,83.670000,7.750000,7.750000,7.580000,7.750000,7.670000,7.750000,10.000000,10.000000,10.000000,7.750000,0.000000
max,90.580000,8.750000,8.830000,8.670000,8.750000,8.580000,8.750000,10.000000,10.000000,10.000000,10.000000,11.000000

# Add in price data

In [156]:
price_df = pd.read_csv('data/growers_prices.csv')

In [157]:
price_df.head()

,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Colombia,69.52,67.13,54.57,50.12,85.99,99.62,93.56,133.17,102.08,...,114.22,138.96,180.55,239.68,166.69,113.91,159.71,119.40,123.56,125.76
1,Kenya,60.57,50.68,28.95,47.64,152.61,140.17,110.04,184.00,179.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tanzania,40.82,49.50,49.16,38.28,62.16,86.76,62.53,118.52,90.70,...,63.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bolivia,51.78,52.42,43.53,27.33,79.92,76.99,57.18,100.07,131.09,...,NaN,NaN,NaN,NaN,225.64,201.97,239.25,234.79,271.79,471.62
4,Burundi,58.02,55.02,59.23,58.27,60.68,56.69,51.97,52.79,52.22,...,86.19,85.68,85.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
price_df.shape

(35, 29)

In [160]:
price_df.index = price_df.index.map(str)

In [161]:
price_df.index

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31', '32', '33', '34'],
      dtype='object')

In [162]:
price_df.at['1', 'Calendar years']

'Kenya'

In [163]:
for i in range(0, 35):
    price_df = price_df.rename(index={str(i): price_df.at[str(i), 'Calendar years']})

In [164]:
price_df.index

Index(['Colombia', 'Kenya', 'Tanzania', 'Bolivia', 'Burundi', 'Cameroon',
       'Congo, Dem. Rep. of', 'Costa Rica', 'Cuba', 'Dominican Republic',
       'Ecuador', 'El Salvador', 'Guatemala', 'Haiti', 'Honduras', 'India',
       'Jamaica', 'Madagascar', 'Malawi', 'Mexico', 'Nicaragua', 'Panama',
       'Papua New Guinea', 'Peru', 'Rwanda', 'Sri Lanka', 'Uganda', 'Zambia',
       'Angola', 'Brazil', 'Ethiopia', 'Indonesia', 'Philippines', 'Thailand',
       'Vietnam'],
      dtype='object')

In [165]:
price_df.head()

,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Colombia,Colombia,69.52,67.13,54.57,50.12,85.99,99.62,93.56,133.17,102.08,...,114.22,138.96,180.55,239.68,166.69,113.91,159.71,119.40,123.56,125.76
Kenya,Kenya,60.57,50.68,28.95,47.64,152.61,140.17,110.04,184.00,179.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tanzania,Tanzania,40.82,49.50,49.16,38.28,62.16,86.76,62.53,118.52,90.70,...,63.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bolivia,Bolivia,51.78,52.42,43.53,27.33,79.92,76.99,57.18,100.07,131.09,...,NaN,NaN,NaN,NaN,225.64,201.97,239.25,234.79,271.79,471.62
Burundi,Burundi,58.02,55.02,59.23,58.27,60.68,56.69,51.97,52.79,52.22,...,86.19,85.68,85.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [166]:
price_df.tail()

,Calendar years,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Ethiopia,Ethiopia,61.09,68.19,61.21,61.72,109.55,115.02,67.74,91.06,91.86,...,71.71,77.06,85.46,145.46,102.79,73.30,83.24,76.03,87.31,84.38
Indonesia,Indonesia,NaN,NaN,NaN,115.53,173.51,NaN,NaN,112.26,99.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Philippines,Philippines,NaN,NaN,55.74,54.20,99.62,106.30,76.31,79.74,81.87,...,95.52,NaN,NaN,NaN,262.01,NaN,NaN,NaN,NaN,NaN
Thailand,Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,203.44,113.33,124.58,NaN,NaN
Vietnam,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,84.47,NaN,NaN,NaN,NaN,NaN

# Merge price and coffee data

In [170]:
arabica_df.head()

,quality_score,Owner,Country of Origin,Altitude,Region,In-Country Partner,Variety,Processing Method,Aroma,Flavor,...,Uniformity,Clean Cup,Sweetness,Cupper Points,Moisture,Category One Defects,Quakers,Color,Category Two Defects,year
0,90.58,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/GOYO,METAD Agricultural Development plc,NaN,Washed / Wet,8.67,8.83,...,10.0,10.0,10.0,8.75,12 %,0 full defects,0.0,Green,0 full defects,2015
1,89.92,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/ALAKA,METAD Agricultural Development plc,Other,Washed / Wet,8.75,8.67,...,10.0,10.0,10.0,8.58,12 %,0 full defects,0.0,Green,1 full defects,2015
2,89.75,Grounds for Health Admin,Guatemala,1600 - 1800 m,NaN,Specialty Coffee Association,Bourbon,NaN,8.42,8.50,...,10.0,10.0,10.0,9.25,0 %,0 full defects,0.0,NaN,0 full defects,2010
3,89.00,Yidnekachew Dabessa,Ethiopia,1800-2200,Oromia,METAD Agricultural Development plc,NaN,Natural / Dry,8.17,8.58,...,10.0,10.0,10.0,8.67,11 %,0 full defects,0.0,Green,2 full defects,2015
4,88.83,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/BISHAN FUGU,METAD Agricultural Development plc,Other,Washed / Wet,8.25,8.50,...,10.0,10.0,10.0,8.58,12 %,0 full defects,0.0,Green,2 full defects,2015

In [178]:
arabica_df.index

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '1302', '1303', '1304', '1305', '1306', '1307', '1308', '1309', '1310',
       '1311'],
      dtype='object', length=1312)

In [179]:
arabica_df.at[str(1), 'year']

'2015'

In [180]:
i = 0 
while i < 1312: 
    for row in arabica_df['Country of Origin']:
        if row == 'Ethiopia':
            arabica_df.set_value(str(i), 'Price', price_df.at['Ethiopia', arabica_df.at[str(i), 'year']])
        i += 1

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

In [181]:
arabica_df

,quality_score,Owner,Country of Origin,Altitude,Region,In-Country Partner,Variety,Processing Method,Aroma,Flavor,...,Clean Cup,Sweetness,Cupper Points,Moisture,Category One Defects,Quakers,Color,Category Two Defects,year,Price
0,90.58,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/GOYO,METAD Agricultural Development plc,NaN,Washed / Wet,8.67,8.83,...,10.00,10.00,8.75,12 %,0 full defects,0.0,Green,0 full defects,2015,76.03
1,89.92,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/ALAKA,METAD Agricultural Development plc,Other,Washed / Wet,8.75,8.67,...,10.00,10.00,8.58,12 %,0 full defects,0.0,Green,1 full defects,2015,76.03
2,89.75,Grounds for Health Admin,Guatemala,1600 - 1800 m,NaN,Specialty Coffee Association,Bourbon,NaN,8.42,8.50,...,10.00,10.00,9.25,0 %,0 full defects,0.0,NaN,0 full defects,2010,NaN
3,89.00,Yidnekachew Dabessa,Ethiopia,1800-2200,Oromia,METAD Agricultural Development plc,NaN,Natural / Dry,8.17,8.58,...,10.00,10.00,8.67,11 %,0 full defects,0.0,Green,2 full defects,2015,76.03
4,88.83,metad plc,Ethiopia,1950-2200,GUJI-HAMBELA/BISHAN FUGU,METAD Agricultural Development plc,Other,Washed / Wet,8.25,8.50,...,10.00,10.00,8.58,12 %,0 full defects,0.0,Green,2 full defects,2015,76.03
5,88.83,Ji-Ae Ahn,Brazil,NaN,NaN,Specialty Coffee Institute of Asia,NaN,Natural / Dry,8.58,8.42,...,10.00,10.00,8.33,11 %,0 full defects,0.0,Bluish-Green,1 full defects,2013,NaN
6,88.75,Hugo Valdivia,Peru,NaN,NaN,Specialty Coffee Institute of Asia,Other,Washed / Wet,8.42,8.50,...,10.00,10.00,8.50,11 %,0 full defects,0.0,Bluish-Green,0 full defects,2012,NaN
7,88.67,Ethiopia Commodity Exchange,Ethiopia,1570-1700,Oromia,Ethiopia Commodity Exchange,NaN,NaN,8.25,8.33,...,10.00,9.33,9.00,3 %,0 full defects,0.0,NaN,0 full defects,2010,85.46
8,88.42,Ethiopia Commodity Exchange,Ethiopia,1570-1700,Oromiya,Ethiopia Commodity Exchange,NaN,NaN,8.67,8.67,...,10.00,9.33,8.67,3 %,0 full defects,0.0,NaN,0 full defects,2010,85.46
9,88.25,Diamond Enterprise Plc,Ethiopia,1795-1850,"SNNP/Kaffa Zone,GimboWereda",METAD Agricultural Development plc,Other,Natural / Dry,8.08,8.58,...,10.00,10.00,8.50,10 %,0 full defects,0.0,Green,4 full defects,2015,76.03
10,88.08,Mohammed Lalo,Ethiopia,1855-1955,Oromia,METAD Agricultural Development plc,NaN,Natural / Dry,8.17,8.67,...,10.00,10.00,8.58,10 %,0 full defects,0.0,NaN,1 full defects,2015,76.03
11,87.92,CQI Q Coffee Sample Representative,United States,Meters above sea level: 1.872,Antioquía-Giraldo,Almacafé,Other,Washed / Wet,8.25,8.42,...,10.00,10.00,8.50,0 %,0 full defects,0.0,NaN,0 full defects,2015,NaN
12,87.92,CQI Q Coffee Sample Representative,United States,Meters above sea level: 1.943,Antioquía-Betulia,Almacafé,Other,Washed / Wet,8.08,8.67,...,10.00,10.00,8.33,0 %,0 full defects,0.0,NaN,0 full defects,2015,NaN
13,87.92,Grounds for Health Admin,United States (Hawaii),2000 ft,Kona,Specialty Coffee Association,NaN,NaN,8.33,8.42,...,10.00,10.00,8.58,0 %,0 full defects,0.0,NaN,2 full defects,2010,NaN
14,87.83,Ethiopia Commodity Exchange,Ethiopia,1570-1700,Oromiya,Ethiopia Commodity Exchange,NaN,NaN,8.25,8.33,...,10.00,9.33,8.50,5 %,0 full defects,0.0,NaN,2 full defects,2010,85.46
15,87.58,CQI Q Coffee Sample Representative,United States,Meters above sea level: 2.080,Antioquía-Caicedo,Almacafé,Other,Washed / Wet,8.00,8.50,...,10.00,10.00,8.17,0 %,0 full defects,0.0,NaN,0 full defects,2015,NaN
16,87.42,Grounds for Health Admin,Indonesia,1200-1800m,Sulawesi,Specialty Coffee Association,NaN,NaN,8.33,8.25,...,10.00,10.00,8.33,3 %,0 full defects,0.0,NaN,0 full defects,2010,NaN
17,87.33,Ethiopia Commodity Exchange,Ethiopia,NaN,Yirgacheffe,Ethiopia Commodity Exchange,NaN,NaN,8.17,8.33,...,10.00,9.33,8.83,5 %,0 full defects,0.0,NaN,2 full defects,2010,85.46
18,87.25,Yunnan Coffee Exchange,China,1450,Yunnan Province XiShuangBanNa City Menghai County,Yunnan Coffee Exchange,Catimor,Washed / Wet,8.42,8.25,...,10.00,10.00,8.42,10 %,0 full defects,0.0,Green,0 full defects,2016,NaN
19,87.25,EssenceCoffee,Ethiopia,1700-2000m,Gedio,Blossom Valley International,Ethiopian Yirgacheffe,Natural / Dry,8.17,8.17,...,10.00,10.00,8.33,0 %,0 full defects,0.0,NaN,8 full defects,2015,76.03
20,87.25,CQI Q Coffee Sample Representative,United States,Meters above sea level: 2.019,Antioquía-Betulia,Almacafé,Other,Washed / Wet,8.00,8.25,...,10.00,10.00,8.17,0 %,0 full defects,0.0,None,0 full defects,2015,NaN
21,87.17,The Coffee Source Inc.,Costa Rica,1300 MSNM,SAN RAMON,Specialty Coffee Association,Caturra,Washed / Wet,8.08,8.25,...,10.00,10.00,8.33,11 %,0 full defects,0.0,Green,2 full defects,2014,NaN
22,87.17,ROBERTO LICONA FRANCO,Mexico,1320,XALAPA,AMECAFE,Other,Washed / Wet,8.17,8.25,...,10.00,10.00,8.58,13 %,0 full defects,0.0,Green,0 full defects,2012,NaN
23,87.08,CQI Q Coffee Sample Representative,United States,Meters above sea level: 2.112,Antioquía-Giraldo,Almacafé,Other,Washed / Wet,8.25,8.33,...,10.00,10.00,8.17,0 %,0 full defects,0.0,NaN,0 full defects,2015,NaN
24,87.08,Ji-Ae Ahn,Ethiopia,NaN,Sidamo,Specialty Coffee Institute of Asia,NaN,Natural / Dry,8.42,8.17,...,10.00,10.00,8.08,11 %,0 full defects,0.0,Bluish-Green,1 full defects,2013,73.30
25,86.92,NUCOFFEE,Brazil,1250m,South of Minas,NUCOFFEE,Bourbon,Natural / Dry,8.50,8.50,...,10.00,10.00,7.92,12 %,0 full defects,0.0,Green,2 full defects,2011,NaN
26,86.92,Ethiopia Commodity Exchange,Ethiopia,NaN,Sidamo,Ethiopia Commodity Exchange,NaN,NaN,7.83,8.25,...,10.00,10.00,8.25,5 %,0 full defects,0.0,NaN,2 full defects,2010,85.46
27,86.83,Kabum Trading company,Uganda,1950,Kapchorwa Eastern,Uganda Coffee Development Authority,SL14,Washed / Wet,8.42,8.17,...,10.00,10.00,8.17,12 %,0 full defects,0.0,Green,1 full defects,2014,NaN
28,86.67,Bismarck Castro,Honduras,1400,Comayagua,Instituto Hondureño del Café,Caturra,NaN,8.17,8.08,...,10.00,10.00,8.25,10 %,0 full defects,0.0,Green,3 full defects,2017,NaN
29,86.58,"Lin, Che-Hao Krude 林哲豪",Taiwan,1200,"Leye, Alishan Township, Chiayi County",Specialty Coffee Association,Sumatra,Pulped natural / honey,8.00,8.00,...,10.00,10.00,8.17,0 %,0 full defects,0.0,Green,0 full defects,2016,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282,74.83,PABLO ENRIQUE MARTINEZ GAMA,Mexico,1250,COATEPEC,AMECAFE,Typica,Washed / Wet,7.33,6.75,...,5.33,10.00,7.00,12 %,0 full defects,0.0,Green,30 full defects,2012,NaN
1283,74.75,Juan Luis Alvarado Romero,Guatemala,NaN,Oriente,Asociacion Nacional Del Café,Bourbon,Washed / Wet,6.75,6.50,...,10.00,10.00,6.33,11 %,0 full defects,0.0,NaN,8 full defects,2012,NaN
1284,74.75,Juan Luis Alvarado Romero,Guatemala,NaN,Oriente,Asociacion Nacional Del Café,Bourbon,Washed / Wet,6.75,6.67,...,10.00,10.00,6.42,11 %,0 full defects,0.0,NaN,10 full defects,2012,NaN
1285,74.67,NESTOR MENDEZ GOMEZ,Mexico,1700,CHIAPAS,AMECAFE,Typica,Washed / Wet,7.08,7.00,...,7.33,10.00,6.75,12 %,0 full defects,0.0,Green,7 full defects,2013,NaN
1286,74.42,Eileen Koyanagi,United States (Hawaii),NaN,KONA,Specialty Coffee Association,Hawaiian Kona,Natural / Dry,7.50,7.25,...,8.67,6.67,7.33,0 %,1 full defects,0.0,Blue-Green,2 full defects,2014,NaN
1287,74.33,Juan Luis Alvarado Romero,Guatemala,4300,ORIENTE,Asociacion Nacional Del Café,Bourbon,Washed / Wet,6.50,6.33,...,10.00,8.67,6.00,11 %,1 full defects,0.0,Green,1 full defects,2013,NaN
1288,74.33,JORGE OCTAVIO ESCAMILLA PRADO,Mexico,1140,"CHOCAMAN, VERACRUZ",AMECAFE,Typica,Washed / Wet,7.00,6.58,...,6.67,10.00,6.67,14 %,3 full defects,0.0,Green,11 full defects,2012,NaN
1289,74.00,MYRNA ROXANA GALVEZ GONZALEZ,Mexico,1200,XALAPA,AMECAFE,Typica,Washed / Wet,6.92,6.42,...,6.67,10.00,6.50,13 %,0 full defects,0.0,None,27 full defects,2012,NaN
1290,73.83,EUGENE HOLMAN PEW,Mexico,1250,COAEPEC,AMECAFE,Typica,Washed / Wet,7.67,7.00,...,2.67,10.00,7.08,12 %,0 full defects,0.0,Green,19 full defects,2012,NaN
1291,73.67,Kona Pacific Farmers Cooperative,United States (Hawaii),NaN,KONA,Specialty Coffee Association,Hawaiian Kona,Natural / Dry,7.17,7.17,...,6.67,6.67,7.33,0 %,9 full defects,0.0,NaN,17 full defects,2012,NaN
1292,73.50,BOURBON SPECIALTY COFFEES,Brazil,NaN,CAMPOS ALTOS - CERRADO,Brazil Specialty Coffee Association,NaN,NaN,7.25,6.58,...,8.00,10.00,6.67,11 %,0 full defects,1.0,Green,0 full defects,2015,NaN
1293,73.42,CAFES FINOS DE EXPORTACION S DE R.L.,Honduras,1350,INTIBUCA,Instituto Hondureño del Café,Pacas,Washed / Wet,7.00,7.17,...,8.00,8.00,7.08,11 %,1 full defects,0.0,Green,16 full defects,2014,NaN
1294,72.92,Kurt Kappeli,Mexico,"1,200 meters",Sierra Alta Mixe y Zapoteca,Specialty Coffee Association,Typica,Washed / Wet,7.08,7.08,...,8.00,8.00,6.92,0 %,1 full defects,0.0,NaN,1 full defects,2014,NaN
1295,72.83,Honor dela Fuente,Colombia,NaN,NaN,Specialty Coffee Association,NaN,Natural / Dry,8.00,7.33,...,6.67,6.67,7.33,0 %,0 full defects,0.0,Bluish-Green,15 full defects,2014,NaN
1296,72.58,Eileen Koyanagi,United States (Hawaii),NaN,KONA,Specialty Coffee Association,Hawaiian Kona,Natural / Dry,6.92,6.92,...,6.67,9.33,6.92,11 %,5 full defects,0.0,Green,9 full defects,2014,NaN
1297,72.33,Myriam Kaplan-Pasternak,Haiti,640m-1400m,Marmelade,Specialty Coffee Association,NaN,NaN,6.92,6.75,...,5.33,8.67,6.42,8 %,1 full defects,0.0,NaN,0 full defects,2011,NaN
1298,71.75,Santa Laura Exportadora de Cafe S.L.E.C. S.A.,Costa Rica,1200 msm,occidental,Specialty Coffee Association of Costa Rica,Caturra,Washed / Wet,6.33,6.50,...,6.67,10.00,6.25,11 %,0 full defects,0.0,Green,7 full defects,2015,NaN
1299,71.08,JOSE ARMANDO NORBERTO BORZANI LEMINI,Mexico,800,TLATLAUQUITEPEC,AMECAFE,Mundo Novo,Washed / Wet,6.92,6.92,...,2.67,10.00,6.58,12 %,4 full defects,0.0,Green,24 full defects,2012,NaN
1300,71.00,RICARDO AARON SAMPIERI MARINI,Mexico,1800,HUATUSCO,AMECAFE,Bourbon,Washed / Wet,6.50,6.67,...,6.00,10.00,6.42,11 %,0 full defects,0.0,Green,0 full defects,2012,NaN
1301,70.75,Kurt Kappeli,Mexico,"1,000 meters","Sierra Norte Yajalon, Chiapas",Specialty Coffee Association,Typica,Washed / Wet,6.92,7.00,...,6.00,10.00,6.75,12 %,0 full defects,0.0,Green,1 full defects,2014,NaN
1302,70.67,Volcafe Ltda. - Brasil,Brazil,NaN,Cerrado - Monte Carmelo,Brazil Specialty Coffee Association,NaN,Natural / Dry,7.00,7.00,...,6.00,10.00,6.67,11 %,0 full defects,1.0,Green,55 full defects,2017,NaN
1303,69.33,CADEXSA,Honduras,1450 msnm,Marcala,Instituto Hondureño del Café,Catuai,Washed / Wet,6.67,6.50,...,8.00,8.00,6.33,10 %,0 full defects,0.0,Green,4 full defects,2014,NaN
1304,69.17,CADEXSA,Honduras,1450 msnm,MARCALA,Instituto Hondureño del Café,Catuai,Washed / Wet,7.00,6.17,...,8.00,8.00,6.50,10 %,0 full defects,0.0,Green,3 full defects,2014,NaN
1305,69.17,CADEXSA,Honduras,1450 msnm,MARCALA,Instituto Hondureño del Café,Catuai,Washed / Wet,7.00,6.33,...,8.00,8.00,6.33,10 %,0 full defects,0.0,Green,4 full defects,2014,NaN
1306,68.33,JUAN CARLOS GARCIA LOPEZ,Mexico,900,JUCHIQUE DE FERRER,AMECAFE,Bourbon,Washed / Wet,7.08,6.83,...,0.00,10.00,6.75,11 %,0 full defects,0.0,None,20 full defects,2012,NaN
1307,67.92,Myriam Kaplan-Pasternak,Haiti,~350m,"Department d'Artibonite , Haiti",Specialty Coffee Association,Typica,Natural / Dry,6.75,6.58,...,6.00,6.00,6.42,14 %,8 full defects,0.0,Blue-Green,16 full defects,2012,NaN
1308,63.08,"Exportadora Atlantic, S.A.",Nicaragua,1100,jalapa,Instituto Hondureño del Café,Caturra,Other,7.25,6.58,...,6.00,6.00,6.17,13 %,1 full defects,0.0,Green,5 full defects,2017,NaN
1309,59.83,Juan Luis Alvarado Romero,Guatemala,4650,NUEVO ORIENTE ALDEA EL LIMON,Asociacion Nacional Del Café,Catuai,Washed / Wet,7.50,6.67,...,1.33,1.33,6.67,10 %,0 full defects,0.0,Green,4 full defects,2012,NaN
1310,43.13,Ethiopia Commodity Exchange,Ethiopia,TEST,TEST,Ethiopia Commodity Exchange,NaN,NaN,6.00,6.00,...,0.00,0.00,6.00,0 %,0 full defects,0.0,NaN,0 full defects,2010,85.46
1311,0.00,Bismarck Castro,Honduras,1400,Comayagua,Instituto Hondureño del Café,Caturra,NaN,0.00,0.00,...,0.00,0.00,0.00,12 %,0 full defects,0.0,Green,2 full defects,2017,NaN